__pycache__/
*.py[cod]
.pytest_cache/

data/*
!data/.gitkeep
outputs/*
!outputs/.gitkeep
dist/

inputs/*
!inputs/.gitkeep
przyklady/

*.gpkg
*.xlsx
*.xls
*.csv
*.sqlite
*.db
*.log
*.pid

.env
.venv/
venv/
